.article-recommend-edit {

  .my-modal {
    position: relative;

    .modal-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 0;
      padding: 10px;
      box-sizing: border-box;
      border: 1px solid var(--Color-Theme);

      span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left;
        font-size: var(--Font-Size-Content-Small);
        vertical-align: bottom;
      }

      &:hover {
        background-color: #fff;
      }
    }

    .modal-head {
      border: none;

      &:hover {
        background-color: var(--ColorGary);
      }
    }
  }
}