.recent {
  margin-top: 20px;
  font-size: var(--Font-Size-Title-Small);
  text-align: left;

  .list-tag {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .view-more {
      color: var(--Color-Theme);
      text-decoration: none;
      cursor: pointer;
    }
  }

  .card-list {
    width: 100%;
    display: grid;
    gap: 20px;
  }
}